# DT Assignment1

# Data Loading

In [1]:
import pandas as pd 
import numpy as np

In [2]:
pd_data = pd.read_csv('https://raw.githubusercontent.com/AugustLONG/ML01/master/01decisiontree/AllElectronics.csv')
pd_data.drop("RID",axis=1, inplace = True) #RID는 그냥 순서라서 삭제
pd_data

            age  income student credit_rating class_buys_computer
0         youth    high      no          fair                  no
1         youth    high      no     excellent                  no
2   middle_aged    high      no          fair                 yes
3        senior  medium      no          fair                 yes
4        senior     low     yes          fair                 yes
5        senior     low     yes     excellent                  no
6   middle_aged     low     yes     excellent                 yes
7         youth  medium      no          fair                  no
8         youth     low     yes          fair                 yes
9        senior  medium     yes          fair                 yes
10        youth  medium     yes     excellent                 yes
11  middle_aged  medium      no     excellent                 yes
12  middle_aged    high     yes          fair                 yes
13       senior  medium      no     excellent                  no

# 1. Gini 계수를 구하는 함수 만들기

In [55]:
np.unique(pd_data['class_buys_computer'])

array(['no', 'yes'], dtype=object)

- Input: df(데이터), label(타겟변수명)
- 해당 결과는 아래와 같이 나와야 합니다.

In [156]:
def get_gini(df, label) :
    gini = 1
    size = len(df)
    counts = df[label].value_counts()
    for count in counts:
        gini -= (count/size)*(count/size) # 1 - sumation(p^2)
    return gini

In [136]:
get_gini(pd_data,'class_buys_computer')

0.4591836734693877

# 2. Feature의 Class를 이진 분류로 만들기
 ## ex) {A,B,C} -> ({A}, {B,C}), ({B}, {A,C}), ({C}, {A,B})

- Input: df(데이터), attribute(Gini index를 구하고자 하는 변수명)
- 해당 결과는 아래와 같이 나와야 합니다.

In [91]:
from itertools import combinations

def get_binary_split(df, attribute):
    elements = list(np.unique(df[attribute])) # attribute에서 한번 이상 등장하는 원소들을 추출한다.
    result = list()
    tmp = list()
    
    for i in range(len(elements)) :
        tmp = list(elements)           # 원래의 리스트를 저장
        result.append([elements[i]])
        elements.remove(elements[i])   # 해당 값을 제외
        result.append(elements) 
        elements = tmp                 # 원래 리스트 복원
    return result

In [92]:
get_binary_split(pd_data,"age")

[['middle_aged'],
 ['senior', 'youth'],
 ['senior'],
 ['middle_aged', 'youth'],
 ['youth'],
 ['middle_aged', 'senior']]

# 3. 다음은 모든 이진분류의 경우의 Gini index를 구하는 함수 만들기
- 위에서 완성한 두 함수를 사용하여 만들어주세요!
- 해당 결과는 아래와 같이 나와야 합니다.

In [175]:
df_tmp = pd_data[pd_data['age'].isin(['middle_aged'])]
df_tmp

            age  income student credit_rating class_buys_computer
2   middle_aged    high      no          fair                 yes
6   middle_aged     low     yes     excellent                 yes
11  middle_aged  medium      no     excellent                 yes
12  middle_aged    high     yes          fair                 yes

In [163]:
def get_attribute_gini_index(df, attribute, label):
    binary_split = get_binary_split(df, attribute)
    result = dict()
    size = len(df)
    for k in binary_split :    # k는 ['middle_aged'], ['senior', 'youth'], ... 순으로 진행
        df_tmp1 = df[df[attribute].isin(k)]  # k 조건에 맞는 임시 데이터 프레임 생성
        df_tmp2 = df[~df[attribute].isin(k)]
        
        # key 이름 생성
        key = ""
        for i in k:
            key += i
            key += "_"
        key = key[:-1]
        
        result[key] = len(df_tmp1)/size*get_gini(df_tmp1, label) + len(df_tmp2)/size*get_gini(df_tmp2, label)
        
    return result

In [164]:
get_attribute_gini_index(pd_data, "age", "class_buys_computer")

{'middle_aged': 0.35714285714285715,
 'senior_youth': 0.35714285714285715,
 'senior': 0.4571428571428572,
 'middle_aged_youth': 0.4571428571428572,
 'youth': 0.3936507936507937,
 'middle_aged_senior': 0.3936507936507937}

여기서 가장 작은 Gini index값을 가지는 class를 기준으로 split해야겠죠?

In [165]:
min(get_attribute_gini_index(pd_data, "age", "class_buys_computer").items())

('middle_aged', 0.35714285714285715)

# 다음의 문제를 위에서 작성한 함수를 통해 구한 값으로 보여주세요!
## 문제1) 변수 ‘income’의 이진분류 결과를 보여주세요.

## 문제2) 분류를 하는 데 가장 중요한 변수를 선정하고, 해당 변수의 Gini index를 제시해주세요.

## 문제3) 문제 2에서 제시한 feature로 DataFrame을 split한 후 나눠진 2개의 DataFrame에서 각각   다음으로 중요한 변수를 선정하고 해당 변수의 Gini index를 제시해주세요.

In [166]:
##문제1 답안
get_attribute_gini_index(pd_data, "income", "class_buys_computer")

{'high': 0.4428571428571429,
 'low_medium': 0.4428571428571429,
 'low': 0.45,
 'high_medium': 0.45,
 'medium': 0.4583333333333333,
 'high_low': 0.4583333333333333}

In [171]:
##문제2 답안
print(min(get_attribute_gini_index(pd_data, "age", "class_buys_computer").items()))
print(min(get_attribute_gini_index(pd_data, "income", "class_buys_computer").items()))
print(min(get_attribute_gini_index(pd_data, "student", "class_buys_computer").items()))
print(min(get_attribute_gini_index(pd_data, "credit_rating", "class_buys_computer").items()))

('middle_aged', 0.35714285714285715)
('high', 0.4428571428571429)
('no', 0.3673469387755103)
('excellent', 0.42857142857142855)

gini index가 가장 작은 age가 최초 split 변수가 되어야 한다.

In [181]:
##문제3 답안
# split
pd_data_split1_1 = pd_data[pd_data['age'].isin(['middle_aged'])]
pd_data_split1_2 = pd_data[~pd_data['age'].isin(['middle_aged'])]

# split1_1은 이미 동일한 클래스로만 분류된 집단이다.

#split1_2의 다음 split 변수
print(min(get_attribute_gini_index(pd_data_split1_2, "income", "class_buys_computer").items()))
print(min(get_attribute_gini_index(pd_data_split1_2, "student", "class_buys_computer").items()))
print(min(get_attribute_gini_index(pd_data_split1_2, "credit_rating", "class_buys_computer").items()))

('high', 0.375)
('no', 0.31999999999999984)
('excellent', 0.4166666666666667)

split1_2에서 다음으로 중요한 변수는 student이다.